
table {
    border-collapse:separate;
    border: 2px;
    border-radius:10px;
	box-shadow:0 0 50px #000000;
	font-size: 1.2em;
	font-family: 'Times New Roman';
    -moz-border-radius:10px;
}

td{
	border-radius: 1px;
	border:0.6px;
	 cursor : pointer;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;


}
tr{
}

th {
    background-color: #996633;
    color: white;
    text-align: center;
}
.navbar-brand
{
    font-size:10px;

}
.navbar-nav li a {
    line-height: 20px;
    height: 50px;
    padding-left: 10px;
    font-size:18px;
}	


.myStyle1{
    padding-bottom:10px;
    color:#ffffff;
}
.myStyle{
    padding-top:10px;
}

.myHead{
    font-weight:bold;
    margin-left:10px;
    padding-left:10px;
}
.myButton{
widht:150px;
}
.myData{
    font-size:15px;
    padding-left:10px;
    padding-right:10px;
    align-content:left;
}
.feedbackStyle{
    padding-top:10px;
    padding-left:10px;
}
.myCourse{
    align-content:center;

}