    	body{
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		background-size: cover;
		padding-bottom:50px;
			}



 	fieldset.scheduler-border {
 	width: 400px;
 	color: #ffffff;
    border: 3px groove #ddd !important;
    padding: 1.4em 1.4em 1.4em 1.4em !important;
    margin-top: 50px;
    border-radius: 10px;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
   box-shadow:0 0 50px #999;



}
.myHeader{
font-size:20px;
font-family:'comic sans ms';
color:#00000;
}
	p{
		text-align: center;
	}
	.lable
	{
		font-size: 20px;
		font-family: 'Corbel';
	}
	h3{
		text-shadow: 10px;
		font-family: 'Monotype Corsiva';
		text-align: center;
		font-size: 50px;
	   text-shadow:0 0 50px #000000;
	}
	h2{
		text-align: center;

	}
	table.myTable{
    border-collapse: separate;
    border-spacing: 10px 10px;
	}

	fieldset{
		-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
		transition: width 2s;
		transition-timing-function: ease;
	}
	@media only screen and (max-device-width:480px){
		fieldset.scheduler-border {
 			width: 300px;
			margin-right: 10px;
		 		}
 		.lable{
 			font-size: 14px;
			}

.fbConnect{

	border-radius: 10px;
	width: 80%;
	height: 30%;
	margin-left: 35px;
}
 		}

.form-control:focus {
  border-color: #000000;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(186,85,211,0.6);
   border-radius: 15px;

}

